<div class="home">

    <nav class="navbar">
        <h2>Internship Application System</h2>

        <div class="menu">
            <a routerLink="/login">Student Login</a>
            <a routerLink="/register">Register</a>
            <a routerLink="/admin-login">Admin</a>
        </div>
    </nav>

    <div class="hero">

        <h1>Welcome to Internship Application System</h1>

        <p>
            Apply Internship Online with Resume Upload and
            Email Notification.
        </p>

        <button routerLink="/register">
            Apply Now
        </button>

    </div>

</div>



