<div class="navbar">

    <h2>Internship Application System</h2>

    <button (click)="logout()">Logout</button>

</div>

<div class="welcome">

    <h2>Welcome {{studentName}}</h2>

</div>

<div class="company-container">

    <div class="card" *ngFor="let c of companies">

        <h3>{{c.company_name}}</h3>

        <p><b>Location :</b> {{c.location}}</p>

        <p><b>Role :</b> {{c.internship_role}}</p>

        <p><b>Stipend :</b> ₹{{c.stipend}}</p>

        <button
        [routerLink]="['/apply']"
        [queryParams]="{company_id:c.id}">
        Apply
        </button>

    </div>

</div>