<div class="home">

    <!-- Navbar -->
    <nav class="navbar">
        <h2>Internship Application System</h2>

        <div class="menu">
            <a routerLink="/login">Student Login</a>
            <a routerLink="/register">Register</a>
            <a routerLink="/admin-login">Admin</a>
        </div>
    </nav>

    <!-- Hero Section -->
    <section class="hero">

        <!-- Left Side -->
        <div class="hero-text">

            <h1>Welcome to Internship Application System</h1>

            <p>
                Apply Internship Online with Resume Upload,
                Company Selection and Email Notification.
            </p>

            <button class="btn" routerLink="/register">
                Apply Now
            </button>

        </div>

        <!-- Right Side -->
        <div class="hero-image">
            <img src="assets/images/internship.png" alt="Internship Image">
        </div>

    </section>

</div>